.popup__btn-accept {
  width: 100%;
  min-height: 46px;
  background-color: black;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.22;
  white-space: wrap;
  color: white;
  border: 0;
  box-sizing: border-box;
  border-radius: 2px;
  padding: 0;
  margin-top: 24px;
  transition: opacity .2s ease-in-out;
  cursor: pointer;
}

.popup__btn-accept:hover {
  opacity: .8;
}

@media screen and (min-width: 657px) {
  .popup__btn-accept {
    min-height: 50px;
    font-size: 18px;
    margin-top: 28px;
  }
}
