.header__logo {
  object-fit: cover;
  width: 104px;
  height: 24px;
  box-sizing: border-box;
  margin-left: 27px;
}

@media screen and (min-width: 657px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0;
  }
}
