.footer {
  max-width: 282px;
  width: 100%;
  box-sizing: border-box;
  padding: 48px 0 33px;
}

@media screen and (min-width: 657px) {
  .footer {
    max-width: 581px;
    padding: 69px 0 54px;
  }
}

@media screen and (min-width: 994px) {
  .footer {
    max-width: 880px;
    padding: 69px 0 54px;
  }
}
